<div class="container">
  <div class="row">
    <div class="col">
      <app-shopping-list-edit></app-shopping-list-edit>
      <hr>
      <ul class="list-group">
        <li
          @ingredientsListItem
          class="list-group-item mouse-pointer"
          (click)="onSelectIngredient(ingredient)"
          *ngFor="let ingredient of (ingredients$ | async).ingredients"
          [ngClass]="{active: selectedIngredientId === ingredient.id}"
        >
          <div>{{ ingredient.name }} ({{ ingredient.amount }})</div>
        </li>
      </ul>
    </div>
  </div>
</div>
