<nav class="navbar navbar-expand-sm navbar-collapse navbar-dark bg-primary mb-3">
  <a class="navbar-brand" mat-button routerLink="/">Recipe Book</a>

  <button (click)="navbarCollapsed = !navbarCollapsed" class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="navbarCollapsed" class="navbar-collapse">
    <div class="navbar-nav mr-auto">
      <a
        class="nav-item nav-link"
        routerLink="recipes"
        routerLinkActive="active"
        *ngIf="isAuthenticated"
      >Recipes</a>
      <a
        class="nav-item nav-link"
        routerLink="auth"
        routerLinkActive="active"
        *ngIf="!isAuthenticated"
      >Authenticate</a>
      <a
        class="nav-item nav-link"
        routerLink="shopping-list"
        routerLinkActive="active"
      >Shopping List</a>
    </div>

    <div class="navbar-nav">
      <app-notifications-button
        class="nav-item nav-link"
      ></app-notifications-button>
      <a
        class="nav-item nav-link mouse-pointer"
        *ngIf="isAuthenticated"
        (click)="onLogout()"
      >Logout</a>
    </div>
  </div>

</nav>
